<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
    <h3>Add a New Course:</h3>
    <form action="/classes" method="POST">
      {% csrf_token %}
      Name:<input type="text" name="name">
      Description: <textarea name="description" id="" cols="30" rows="10"></textarea>
      <input type="submit" value="Add">
    </form>
    <div class="schedule">
      <h3>Courses</h3>
      <table>
        <thead>
          <th>Course Name</th>
          <th>Description</th>
          <th>Date Added</th>
          <th>Actions</th>
        </thead>
        <tbody>
          {% for classes in school %}
          <tr>
            <td>{{ classes.name }}</td>
            <td>{{ classes.description }}</td>
            <td>{{ classes.created_at }}</td>
            <td><a href="/remove/{{ classes.id }}">Remove</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</body>
</html>
